# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.secrets
.streamlit/secrets.toml

# Streamlit
.streamlit/config.toml

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Project Specific


# OS
.DS_Store
Thumbs.db


#Folders
visa_rules/
visa_services/
