streamlit
python-dotenv

pinecone-client<3.0.0

langchain
langchain-core
langchain-community
langchain-pinecone
langchain-huggingface
langchain-groq

sentence-transformers
torch
PyMuPDF
streamlit-extras
streamlit-option-menu
streamlit-lottie
requests
